include ../../mixin/_picture
section.p-product.bg-pattern01
  .p-product__inner.section-inner
    include ../component/_c_section-text
    .p-product__img.p-product-img
      .p-product-img__item
        img(src=imgPath + "product/img-tea01.jpg", alt="カップに入ったお茶")
      .p-product-img__item
        img(src=imgPath + "product/img-tea01.jpg", alt="カップに入ったお茶")
    section.p-product__contents
      h3.c-table-box-title.p-product__box-title
        span 商品
      p.p-product__box-text 日本茶は同じ茶の木から作られており、その分類は製造方法の違いをもとに、不発酵茶、半発酵茶、発酵茶の3つに分別され、<br class="pc">日本茶はさらに、蒸し製と釜炒り製に分けられます。それ以外にも、産地や製造時期、栽培方法、加工方法、品種などを加えると<br class="pc">100種類以上のお茶があるとも言われています。当社では代表自らが目利きを行い、厳選した高品質な日本茶の提供を行っています。
      .p-product__pdf-box.p-product-pdf-box
        .p-product-pdf__img
          img(src=imgPath + "product/img-tea03.jpg", alt="スプーンの上に乗った抹茶の粉")
        .p-product-pdf__contents
          .p-product-pdf__title 抹茶(碾茶)
          .p-product-pdf__text 碾茶を石うすなどで挽いて粉末にしたもの。
          .p-product-pdf__button
            a(href="#").c-pdf-button PDFでみる
      ul.p-product-items
        li.p-product-item
          .p-product-item__img
            img(src=imgPath + "product/img-product01.png", alt="煎茶")
          .p-product-item__title 煎茶
          p.p-product-item__text 緑茶の中で最もよく飲まれているお茶。摘み取った新芽をすばやく蒸して揉んで乾燥させたもの。
          .p-product-item__button
            a.c-pdf-button(href="#") PDFでみる 
        li.p-product-item
          .p-product-item__img
            img(src=imgPath + "product/img-product02.png", alt="番茶")
          .p-product-item__title 番茶
          p.p-product-item__text 硬くなったり伸びすぎたお茶の葉や茎などを使って作ったお茶。
          .p-product-item__button
            a.c-pdf-button(href="#") PDFでみる
        li.p-product-item
          .p-product-item__img
            img(src=imgPath + "product/img-product03.png", alt="ほうじ茶")
          .p-product-item__title ほうじ茶
          p.p-product-item__text 番茶などを強火で炒って作ったお茶
          .p-product-item__button
            a.c-pdf-button(href="#") PDFでみる
        li.p-product-item
          .p-product-item__img
            img(src=imgPath + "product/img-product04.png", alt="玄米茶")
          .p-product-item__title 玄米茶
          p.p-product-item__text 番茶に炒ったお米を混ぜて作ったお茶。
          .p-product-item__button
            a.c-pdf-button(href="#") PDFでみる
        li.p-product-item
          .p-product-item__img
            img(src=imgPath + "product/img-product05.png", alt="玉露")
          .p-product-item__title 玉露
          p.p-product-item__text よしず棚などで茶園を覆って直射日光を避け、うまみを増し、苦みを抑えて育てた高級茶。
          .p-product-item__button
            a.c-pdf-button(href="#") PDFでみる
        li.p-product-item
          .p-product-item__img
            img(src=imgPath + "product/img-product06.png", alt="玉緑茶(ぐり茶)")
          .p-product-item__title 玉緑茶<br class="sp">&lpar;ぐり茶&rpar;
          p.p-product-item__text 玉緑茶は九州中北部で生産されている日本茶の一種。まが玉のような形状をしているのが特徴。
          .p-product-item__button
            a.c-pdf-button(href="#") PDFでみる
        li.p-product-item
          .p-product-item__img
            img(src=imgPath + "product/img-product07.png", alt="釜炒茶")
          .p-product-item__title 釜炒茶
          p.p-product-item__text 生茶葉を直火で熱した鉄釜で炒って作るお茶
          .p-product-item__button
            a.c-pdf-button(href="#") PDFでみる
