include ../../mixin/_picture
section.p-top-about.bg01#about
  .p-top-about__inner.section-inner
    h2.c-section-title
      span.c-section-title__main About US
      span.c-section-title__sub 私たちについて
    .p-top-about__text-wrap
      p.p-top-about__text.text-bold 日本文化の根幹を海外に紹介します<br>世界に届ける安心と安全
      p.p-top-about__text 静岡市を拠点に、日本茶の製造・輸出を行う製茶問屋です。<br>ISO22000認証取得、安全と品質にこだわり世界へ安心・安全な日本茶をお届けします。
    .c-btn.p-top-about__btn
      a.c-btn__link(href="#")
        span 企業情報を詳しくみる
section.p-top-business.bg02#business
  .p-top-business__inner
    h2.c-section-title
      span.c-section-title__main Business
      span.c-section-title__sub 業務内容
    .p-top-business__img-wrap
      .p-top-business__img
        img(src=imgPath+"img-business01.png", alt="お茶と湯呑み")
      .p-top-business__img
        img(src=imgPath+"img-business02.png", alt="茶葉と湯呑み")
    .p-top-business__text-wrap
      .p-top-business__text.text-bold 茶葉栽培から輸出まで一貫体制。<br class="sp">伝統と革新、お茶の未来を創造
      .p-top-business__text 茶葉の栽培、製造、輸出入、関連商品の販売まで、お茶に関するあらゆる業務をサポートします。国内外のニーズに応え、高品質な日本茶と関連商品を<br>世界中に提供しています。
    .p-top-business__ashirai
      img(src=imgPath+"img-business03.png", alt="湯呑み")
    .c-btn.p-top-business__btn
      a.c-btn__link(href="#")
        span 詳しくみる
section.p-top-product.bg03#products
  .p-top-product__inner
    h2.c-section-title.--white
      span.c-section-title__main Products
      span.c-section-title__sub 取扱商品
    .p-top-product__items.section-inner
      .p-top-product__item
        .p-top-product__item-img
          img(src=imgPath+"img-top-product01.png", alt="焙煎各種")
        p.p-top-product__item-text 焙煎各種
      .p-top-product__item
        .p-top-product__item-img
          img(src=imgPath+"img-top-product02.png", alt="焙煎各種")
        p.p-top-product__item-text 玉露
      .p-top-product__item
        .p-top-product__item-img
          img(src=imgPath+"img-top-product03.png", alt="焙煎各種")
        p.p-top-product__item-text 各種日本茶
    .c-btn.p-top-product__btn
      a.c-btn__link(href="#")
        span 詳しくみる
section.p-top-enjoy.bg04#enjoy
  .p-top-enjoy__inner
    h2.c-section-title.--white
      span.c-section-title__main Enjoy Tea Life
      span.c-section-title__sub お茶を楽しむ
    .c-btn.p-top-enjoy__btn
      a.c-btn__link(href="#")
        span 詳しくみる